<%= link_to "'/api/wry'", test_path(path: '/api/wry'),method: :get, class: "btn" %>
<br>
<%= link_to "'/api/wryg'", test_path(path: '/api/wryg'),method: :get, class: "btn" %>
<br>
<%= link_to "'/api/imh'", test_path(path: '/api/imh'),method: :get, class: "btn" %>
<br>
<%= link_to "'/api/imhg'", test_path(path: '/api/imhg'),method: :get, class: "btn" %>
<br>
<%= link_to "'/api/gmd'", test_path(path: '/api/gmd'),method: :get, class: "btn" %>
<br>
<br>
<br>
<br>
<div class = "log" style = "border: 2px solid black; padding: 20px">
  Информация:
  <br>
  <%= @text %>  
</div>